In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import MinMaxScaler

import xgboost

%matplotlib inline

In [39]:
train_df = pd.read_csv("Train_data.csv")
validate_df = pd.read_csv("Validation.csv")

In [40]:
train_df.head(5)

,ID,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),Well-Being Index
0,10065,1002001,Antlia B,0.624015,56.397241,17649.87156,0.458599,7.857841,5.196527,0.507534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.041404
1,10087,999000,KKH 11 (ZOAG G135.74-04.53),0.970048,80.924094,11409.94296,0.757218,15.869798,13.065734,0.807108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.098777
2,10141,993012,Leo IV Dwarf,0.995540,82.441006,58774.29343,1.032429,17.545117,11.399711,0.973684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.200747
3,10168,995006,NGC 185,1.004362,75.635986,34960.41911,0.707776,13.578086,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.546539,NaN,0.562809,0.067170
4,10201,996004,Grus I,1.050627,83.412540,17073.45121,0.951402,13.518157,11.749071,0.965452,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.078351

In [41]:
train_df.describe()

,ID,galactic year,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),Well-Being Index
count,3097.000000,3.097000e+03,3096.000000,3096.000000,3069.000000,3069.000000,2968.000000,2742.000000,2716.000000,2716.000000,...,389.000000,388.000000,387.000000,379.000000,378.000000,443.000000,516.000000,379.000000,357.000000,3097.000000
mean,157659.407168,9.984641e+05,0.863193,76.197777,31175.236021,0.819082,14.442264,10.058239,0.793514,0.731124,...,0.793432,0.819060,0.996730,115.538727,114.562123,21.017915,6.206214,23.850270,0.632819,0.082724
std,230716.474733,5.417848e+03,0.164595,10.539559,18574.375226,0.194201,3.622899,3.265167,0.176389,0.198845,...,0.189934,0.163253,0.095212,43.340795,43.560836,13.740650,4.564555,19.875983,0.204801,0.056014
min,10065.000000,9.900250e+05,0.227890,34.244062,-126.906522,0.292001,3.799663,1.928166,0.273684,0.189874,...,0.305733,0.369519,0.465177,23.540325,16.215151,-59.118669,-1.192011,-207.979859,0.168476,0.031477
25%,38554.000000,9.940090e+05,0.749559,69.055828,19876.218060,0.672132,12.307716,7.482265,0.658223,0.582499,...,0.664505,0.699687,0.945058,78.452882,78.285805,15.156311,3.986965,17.229769,0.469759,0.049195
50%,67570.000000,9.980010e+05,0.899075,78.482889,26058.342360,0.821124,14.700321,10.129151,0.813372,0.748034,...,0.806885,0.829617,1.022518,116.789180,114.481115,21.427986,5.148086,24.337553,0.658255,0.058864
75%,95992.000000,1.003002e+06,0.985961,84.135993,36351.451720,0.962507,16.845018,12.593958,0.926053,0.881367,...,0.939555,0.943167,1.061130,146.081475,149.009737,28.804728,6.536906,32.095384,0.793525,0.087992
max,998085.000000,1.011030e+06,1.204456,99.593905,132861.542800,1.361883,25.303770,19.057648,1.186909,1.209059,...,1.173616,1.160796,1.181230,217.500271,226.816039,61.903641,31.822114,95.941245,1.098439,0.379857

In [42]:
train_df_X = train_df.drop(["ID", "galaxy", "Well-Being Index"], axis=1)
train_df_y = train_df["Well-Being Index"]

In [43]:
train_df_X

,galactic year,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",...,Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
0,1002001,0.624015,56.397241,17649.87156,0.458599,7.857841,5.196527,0.507534,0.471400,247.196654,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,999000,0.970048,80.924094,11409.94296,0.757218,15.869798,13.065734,0.807108,0.837559,137.299057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,993012,0.995540,82.441006,58774.29343,1.032429,17.545117,11.399711,0.973684,0.890396,74.709302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,995006,1.004362,75.635986,34960.41911,0.707776,13.578086,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.546539,NaN,0.562809
4,996004,1.050627,83.412540,17073.45121,0.951402,13.518157,11.749071,0.965452,0.798000,141.210462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3092,1006009,0.937222,84.487688,24971.04485,0.911724,11.789837,9.783680,0.848086,0.850300,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.375017,NaN,NaN
3093,1004004,0.942579,84.852778,55945.54506,1.128565,15.397120,10.018093,0.906435,0.739079,115.777726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3094,1004004,1.013720,86.117546,17258.34503,0.872451,17.845618,8.781587,0.942878,0.768294,117.007212,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3095,1004004,0.545461,58.674229,11367.55522,0.586294,12.943574,6.244963,0.399272,0.551939,224.561525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3096,1005006,0.961072,78.548767,18064.60684,0.672132,9.289048,6.894727,0.680740,0.548221,227.689833,...,13.137761,NaN,NaN,NaN,NaN,NaN,-5.652498,NaN,24.509464,NaN

In [44]:
train_df_y

0       0.041404
1       0.098777
2       0.200747
3       0.067170
4       0.078351
          ...
3092    0.050515
3093    0.094714
3094    0.057673
3095    0.043698
3096    0.045450
Name: Well-Being Index, Length: 3097, dtype: float64

In [45]:
#fill the empty cells with zero
train_df_X = train_df_X.apply(lambda x: x.fillna(0), axis = 0)

### Data Preprocessing

In [46]:
## Convert to array from dataframe
X_data = train_df_X.iloc[:, 0:].values
y_data = train_df_y.values

In [47]:
X_data.shape

(3097, 78)

In [48]:
y_data.shape

(3097,)

In [49]:
## Train, Test Split
X_train, X_test, y_train, y_test = train_test_split(X_data, train_df_y, test_size=0.20, random_state=42)

In [92]:
## Feature selection
from sklearn.feature_selection import SelectKBest, f_regression

def select_features(X_train, y_train, X_test, k=65):
    fs = SelectKBest(score_func=f_regression, k=k)
    fs.fit(X_train, y_train)
    X_train_fs = fs.transform(X_train)
    X_test_fs = fs.transform(X_test)
    return X_train_fs, X_test_fs, fs

X_train_fs, X_test_fs, fs = select_features(X_train, y_train, X_test)

In [135]:
#check for the most significant K variables
valid_columns = fs.get_support(indices=True)
valid_columns

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 14, 15, 16, 17, 20,
       21, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 35, 37, 38, 39, 40, 41,
       42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,
       59, 60, 62, 64, 65, 66, 67, 68, 69, 70, 71, 74, 75, 76])

In [51]:
select_features(X_train , y_train, X_test)

(array([[8.85891761e-01, 7.82227572e+01, 1.75910642e+04, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [8.31405014e-01, 7.24798634e+01, 2.94556984e+04, ...,
         3.17322766e+01, 0.00000000e+00, 1.77187530e+01],
        [8.91041944e-01, 8.71370873e+01, 2.51392599e+04, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        ...,
        [8.61260345e-01, 7.36501659e+01, 2.57027258e+04, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [7.67515067e-01, 6.75201263e+01, 2.15979316e+04, ...,
         1.14019479e+01, 6.50273474e+00, 0.00000000e+00],
        [1.02114110e+00, 8.73362054e+01, 3.80195499e+04, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00]]),
 array([[8.35268872e-01, 7.72467231e+01, 2.51515320e+04, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [6.70682089e-01, 6.42744749e+01, 6.59928582e+03, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [1.19453256e+00, 9.25519843e+01, 4.82606180e+04, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        ...,
        [8.69122819e-01, 7.10869017e+01, 2.45030903e+04, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [1.01034285e+00, 9.21473183e+01, 8.06784241e+04, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [9.04112319e-01, 8.24368065e+01, 2.02212268e+04, ...,
         3.90482760e+01, 0.00000000e+00, 3.33807073e+01]]),
 SelectKBest(k=65, score_func=<function f_regression at 0x7f9a93edd3b0>))

In [52]:
def print_metrics(y_test_v, y_pred_v, name):
    print(f"Model : {name}")
    print(f"MSE   : {mean_squared_error(y_test_v, y_pred_v)}")
    print(f"R2    : {r2_score(y_test_v, y_pred_v)}") ## 1 is perfect

In [53]:
#we search for the model with the highest R squared for analysis

In [54]:
## Linear Regression
model = LinearRegression()
model.fit(X_train_fs, y_train)

y_pred_lr = model.predict(X_test_fs)

print_metrics(y_test, y_pred_lr, "Linear Regression")

Model : Linear Regression
MSE   : 0.001242316047705259
R2    : 0.5654006423115916

In [55]:
model_rf = RandomForestRegressor(n_estimators=5)
model_rf.fit(X_train_fs, y_train)

y_pred_rf = model_rf.predict(X_test_fs)

print_metrics(y_test, y_pred_rf, "Random Forest")

Model : Random Forest
MSE   : 0.000804035675357511
R2    : 0.7187242419395652

In [56]:
model_xg = xgboost.XGBRegressor()
model_xg.fit(X_train_fs, y_train)

y_pred_xg = model_xg.predict(X_test_fs)

print_metrics(y_test, y_pred_xg, "XG Boost")

Model : XG Boost
MSE   : 0.0006443678740117762
R2    : 0.7745808204942358

In [19]:
#We will use XGBOOST since it has the highest R2

In [29]:
y_pred_xg

array([0.06358244, 0.04703281, 0.24590066, 0.08355393, 0.05485439,
       0.07238553, 0.04183807, 0.06137244, 0.09283034, 0.04584419,
       0.12593924, 0.12574936, 0.06472278, 0.05073135, 0.18161689,
       0.05981829, 0.05129881, 0.05018576, 0.04411002, 0.04988274,
       0.06337392, 0.17777885, 0.06721631, 0.04325192, 0.1349137 ,
       0.20162953, 0.05910011, 0.2657193 , 0.05074553, 0.06314363,
       0.07219997, 0.04923648, 0.05632374, 0.25402272, 0.04893835,
       0.06326511, 0.07748629, 0.05343774, 0.13381788, 0.0542095 ,
       0.14032665, 0.05855343, 0.04252812, 0.09781083, 0.08526762,
       0.04546047, 0.06170115, 0.04712231, 0.05573066, 0.13308072,
       0.22239058, 0.04566928, 0.05019172, 0.20579565, 0.06391747,
       0.1997375 , 0.04296481, 0.2366858 , 0.048706  , 0.05486236,
       0.08029519, 0.16269088, 0.08104677, 0.11160991, 0.04245163,
       0.05024498, 0.15563537, 0.05792649, 0.05400271, 0.04844956,
       0.0536861 , 0.04671303, 0.04804296, 0.07003046, 0.04898014,
       0.2501707 , 0.182806  , 0.06504346, 0.04315272, 0.05412536,
       0.03939946, 0.05625605, 0.04723968, 0.07486302, 0.04681291,
       0.19345231, 0.07143936, 0.03981679, 0.06624818, 0.21029596,
       0.0581064 , 0.06572878, 0.05480993, 0.04833597, 0.19942579,
       0.23565975, 0.04309259, 0.04850078, 0.04701711, 0.04933243,
       0.19797139, 0.06328937, 0.07250976, 0.2136067 , 0.04545654,
       0.0478922 , 0.06959327, 0.06176743, 0.08400598, 0.06423732,
       0.05667533, 0.18701163, 0.15591599, 0.04762235, 0.04555653,
       0.11155179, 0.04541802, 0.06486851, 0.07784256, 0.06890016,
       0.04568064, 0.10248464, 0.04337997, 0.054346  , 0.0622967 ,
       0.09940568, 0.07784815, 0.05816874, 0.05110048, 0.10293701,
       0.04956299, 0.19522457, 0.23564078, 0.041876  , 0.04941573,
       0.11094473, 0.06488506, 0.08120311, 0.08949471, 0.04259361,
       0.19895993, 0.06819171, 0.1627936 , 0.04235779, 0.0556686 ,
       0.08590786, 0.04263584, 0.04975148, 0.05271152, 0.05064903,
       0.07458936, 0.10885219, 0.06350598, 0.05372465, 0.07401764,
       0.05254802, 0.05832535, 0.04924832, 0.15639852, 0.05073653,
       0.17757869, 0.0629658 , 0.1355488 , 0.08172524, 0.04268754,
       0.07533344, 0.04953132, 0.04619783, 0.05066311, 0.20236222,
       0.08747442, 0.0730141 , 0.07749662, 0.04215106, 0.05167748,
       0.06262504, 0.04472013, 0.04953749, 0.05402874, 0.05781209,
       0.05982335, 0.05822001, 0.07622046, 0.07450686, 0.06081817,
       0.06060846, 0.05654887, 0.17468719, 0.05306815, 0.09530702,
       0.06095215, 0.06604485, 0.04042576, 0.05199548, 0.09713564,
       0.04269897, 0.06245356, 0.1274344 , 0.05212742, 0.05158728,
       0.06842133, 0.04676424, 0.04812305, 0.07076037, 0.17310265,
       0.14326277, 0.14532454, 0.06043354, 0.07289643, 0.04886489,
       0.04837238, 0.16972473, 0.05737856, 0.06589573, 0.09703182,
       0.07803968, 0.113817  , 0.04931306, 0.06636381, 0.07627616,
       0.06848081, 0.04058297, 0.20113453, 0.05636464, 0.05148547,
       0.05102818, 0.08888557, 0.04648754, 0.04862638, 0.1660919 ,
       0.05252941, 0.19144918, 0.04835831, 0.07287211, 0.04653873,
       0.07133973, 0.05716251, 0.06007956, 0.18408701, 0.10335601,
       0.04622016, 0.18537585, 0.05899175, 0.05284648, 0.0509841 ,
       0.11877641, 0.12946908, 0.04748656, 0.04189949, 0.06438499,
       0.05737454, 0.07573391, 0.05400728, 0.05326142, 0.03828794,
       0.05372665, 0.0433718 , 0.0444431 , 0.07397342, 0.04849091,
       0.05520383, 0.06121882, 0.04619709, 0.09920201, 0.07157005,
       0.09137765, 0.0886659 , 0.05830395, 0.20743796, 0.05853905,
       0.04590779, 0.06016539, 0.04670836, 0.04084218, 0.04872114,
       0.07486632, 0.04548765, 0.0549656 , 0.18035452, 0.19027424,
       0.05075966, 0.07313738, 0.16194132, 0.05234336, 0.04921599,
       0.06126082, 0.05295692, 0.0489319 , 0.1903995 , 0.04819255,
       0.10869273, 0.04269158, 0.06361896, 0.05915993, 0.11497233,
       0.06815548, 0.05750575, 0.0467558 , 0.05075929, 0.08645018,
       0.05342237, 0.14410688, 0.08487471, 0.08406395, 0.04695505,
       0.04587328, 0.05240152, 0.19199644, 0.2052884 , 0.05045073,
       0.04139102, 0.04417454, 0.05846924, 0.05295302, 0.04741026,
       0.06471503, 0.0499432 , 0.06486478, 0.15091246, 0.05140077,
       0.17842089, 0.08016873, 0.0570472 , 0.05378986, 0.04260844,
       0.06922227, 0.06595746, 0.07090385, 0.07757328, 0.04209013,
       0.04576232, 0.05750823, 0.06422936, 0.05265873, 0.21450451,
       0.07822405, 0.06822979, 0.16142397, 0.2082254 , 0.05548272,
       0.13456078, 0.0492291 , 0.05104541, 0.06412367, 0.06159368,
       0.09788571, 0.05613863, 0.0476159 , 0.0636612 , 0.06213123,
       0.0956741 , 0.05961825, 0.12431742, 0.04755153, 0.05838752,
       0.18753472, 0.08334786, 0.21528228, 0.04296435, 0.23339128,
       0.06275351, 0.06332992, 0.04948318, 0.05314098, 0.04346449,
       0.04791579, 0.04966773, 0.1146142 , 0.07837263, 0.1361195 ,
       0.06695502, 0.04140619, 0.042674  , 0.04992772, 0.10528244,
       0.08796643, 0.05791122, 0.05562684, 0.20295152, 0.09977796,
       0.14405517, 0.04881816, 0.04998797, 0.12624395, 0.27810603,
       0.05015933, 0.04895967, 0.04276929, 0.19595267, 0.15780456,
       0.05822485, 0.06013934, 0.06332827, 0.0585548 , 0.12567793,
       0.10161994, 0.06340164, 0.04770831, 0.1041576 , 0.07499338,
       0.0567394 , 0.06269201, 0.06722395, 0.04527788, 0.07200773,
       0.07144582, 0.04806958, 0.048507  , 0.09786978, 0.17384824,
       0.12378569, 0.23989251, 0.15181373, 0.05335687, 0.08784039,
       0.06284889, 0.17656028, 0.05807021, 0.04567588, 0.03997143,
       0.1736662 , 0.05873695, 0.05220798, 0.08864261, 0.15711436,
       0.095613  , 0.06379995, 0.22290193, 0.10140216, 0.05264952,
       0.14029792, 0.07210401, 0.19820213, 0.04911595, 0.05181546,
       0.05902801, 0.0553936 , 0.04231035, 0.20495626, 0.12313636,
       0.10580916, 0.04950564, 0.08112895, 0.11964103, 0.0570225 ,
       0.04698706, 0.06057276, 0.04208703, 0.05030289, 0.05053373,
       0.21077059, 0.0641178 , 0.06386551, 0.06847537, 0.05818129,
       0.05469673, 0.0435208 , 0.05540392, 0.06182846, 0.06223336,
       0.04786003, 0.06119417, 0.05519802, 0.04791665, 0.0522745 ,
       0.04405724, 0.0620578 , 0.03939367, 0.03980243, 0.102019  ,
       0.04525419, 0.05953987, 0.05887257, 0.04804615, 0.07272796,
       0.07532863, 0.04055881, 0.04450096, 0.15956536, 0.05515148,
       0.06332427, 0.17241438, 0.11664718, 0.23181762, 0.0457674 ,
       0.06975419, 0.05076085, 0.07406739, 0.13282911, 0.07705087,
       0.04694299, 0.12032726, 0.04795684, 0.06498032, 0.04410068,
       0.05675311, 0.06361069, 0.04970608, 0.0468783 , 0.06885029,
       0.13832058, 0.05690606, 0.04172755, 0.0468946 , 0.10843566,
       0.04561733, 0.05365098, 0.05410113, 0.23042071, 0.04809546,
       0.07727279, 0.06794602, 0.04701036, 0.223765  , 0.21334518,
       0.04711735, 0.06849881, 0.05329992, 0.05920529, 0.08685442,
       0.05631046, 0.04940098, 0.18796867, 0.1944639 , 0.21200967,
       0.18480839, 0.111775  , 0.04876393, 0.0763348 , 0.15964757,
       0.04429376, 0.06583907, 0.0434181 , 0.06329025, 0.16963187,
       0.04759726, 0.0528777 , 0.06222609, 0.06596547, 0.06690795,
       0.04842002, 0.06691138, 0.02851771, 0.05659657, 0.06062048,
       0.08783487, 0.04650314, 0.05759857, 0.21159007, 0.06538164,
       0.06695048, 0.04598972, 0.07599618, 0.06005515, 0.0642732 ,
       0.05606357, 0.05023045, 0.06753656, 0.07004286, 0.11090957,
       0.06208696, 0.11255093, 0.06911224, 0.05313624, 0.04884229,
       0.04458043, 0.09043471, 0.0458348 , 0.05882359, 0.04939783,
       0.0641708 , 0.06565867, 0.06599893, 0.11641324, 0.0590981 ,
       0.07481813, 0.11667198, 0.11607514, 0.07046486, 0.12481238,
       0.04927366, 0.04732585, 0.04826657, 0.04691927, 0.0500579 ,
       0.05831902, 0.1723616 , 0.07310622, 0.05754244, 0.12882055,
       0.15291493, 0.05294011, 0.06358861, 0.04995321, 0.0646131 ,
       0.07882113, 0.13967238, 0.0810808 , 0.06905455, 0.15105033,
       0.05242623, 0.04359172, 0.0402117 , 0.04605907, 0.05280209,
       0.05080898, 0.04978449, 0.05789857, 0.08146614, 0.23269624,
       0.08422207, 0.04174852, 0.04363837, 0.09541396, 0.04086186,
       0.20469709, 0.1942066 , 0.05053739, 0.31106532, 0.08625802],
      dtype=float32)

In [117]:
validate_df

,ID,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),Predicted Well-Being Index
0,886447,1004004,Andromeda Galaxy (M31),0.803915,82.718434,17299.57148,0.691448,16.083635,11.282011,0.715746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,687564,1005006,Andromeda Galaxy (M31),0.860011,73.682279,24971.71631,0.669550,12.858577,10.493260,0.727915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,494935,1006009,Andromeda Galaxy (M31),0.810644,68.456526,15943.82977,0.766118,14.236676,9.962169,0.757072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,378919,1015056,Andromeda Galaxy (M31),0.837170,68.742404,20952.63665,0.757196,14.281498,10.329880,0.759207,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.753738,NaN,NaN
4,421878,1004004,Andromeda I,0.749034,72.093220,30068.14043,0.641228,12.510524,7.132999,0.673619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,389587,1015056,Willman 1,1.010563,92.515213,61890.59381,1.219435,18.016207,13.395910,1.020538,...,0.942637,0.928915,1.038498,111.875906,92.223765,26.147343,3.203769,18.505791,0.406823,NaN
716,17112,1003002,"Wolf-Lundmark-Melotte (WLM, DDO 221)",0.628426,58.772174,26523.82527,0.572390,9.186143,3.807712,0.525476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717,583782,1004004,"Wolf-Lundmark-Melotte (WLM, DDO 221)",0.603825,58.301528,10659.49479,0.629569,7.827124,4.244244,0.615265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718,823832,1005006,"Wolf-Lundmark-Melotte (WLM, DDO 221)",0.574464,53.416728,23157.55806,0.627428,9.626455,6.992821,0.464677,...,0.435978,0.553943,0.904474,188.266739,197.539740,25.349771,6.737562,18.429657,0.859253,NaN
719,872042,1006009,"Wolf-Lundmark-Melotte (WLM, DDO 221)",0.614594,58.751698,24016.06785,0.623884,10.522855,5.472547,0.547071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
validate_df_X =validate_df.drop(["ID", "galaxy", "Predicted Well-Being Index"], axis=1)
# validate_df_y = validate_df["Predicted Well-Being Index"] ## validation files don't have y, since 
                                                           ## that is what we're looking for
validate_df_X = validate_df_X.iloc[:, valid_columns]
validate_df_X

,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Population using at least basic drinking-water services (%),...,"Respiratory disease incidence (per 100,000 people)",Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP)
0,0.803915,82.718434,17299.57148,0.691448,16.083635,11.282011,0.715746,0.745786,191.852274,70.135059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.860011,73.682279,24971.71631,0.669550,12.858577,10.493260,0.727915,0.806982,172.983630,67.810196,...,672.275249,66.059752,18.353282,15.562156,NaN,NaN,NaN,NaN,NaN,NaN
2,0.810644,68.456526,15943.82977,0.766118,14.236676,9.962169,0.757072,0.852921,180.488519,88.523680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.837170,68.742404,20952.63665,0.757196,14.281498,10.329880,0.759207,0.801123,186.040542,82.525798,...,725.545553,66.287680,34.905385,9.115258,NaN,NaN,NaN,NaN,NaN,24.753738
4,0.749034,72.093220,30068.14043,0.641228,12.510524,7.132999,0.673619,0.528564,155.296209,73.688089,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,1.010563,92.515213,61890.59381,1.219435,18.016207,13.395910,1.020538,0.871133,99.716757,119.441022,...,109.114822,230.027734,123.067945,8.072367,0.942637,0.928915,1.038498,26.147343,3.203769,18.505791
716,0.628426,58.772174,26523.82527,0.572390,9.186143,3.807712,0.525476,0.366503,226.243698,66.168323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717,0.603825,58.301528,10659.49479,0.629569,7.827124,4.244244,0.615265,0.402917,246.407021,73.400255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718,0.574464,53.416728,23157.55806,0.627428,9.626455,6.992821,0.464677,0.402599,214.937772,79.453556,...,193.300887,68.546100,50.280332,7.552197,0.435978,0.553943,0.904474,25.349771,6.737562,18.429657
719,0.614594,58.751698,24016.06785,0.623884,10.522855,5.472547,0.547071,0.501966,228.390716,76.616666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
#fill the empty cells with zero
validate_df_X = validate_df_X.apply(lambda x: x.fillna(0), axis = 0)
validate_df_X ## ok

,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Population using at least basic drinking-water services (%),...,"Respiratory disease incidence (per 100,000 people)",Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP)
0,0.803915,82.718434,17299.57148,0.691448,16.083635,11.282011,0.715746,0.745786,191.852274,70.135059,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.860011,73.682279,24971.71631,0.669550,12.858577,10.493260,0.727915,0.806982,172.983630,67.810196,...,672.275249,66.059752,18.353282,15.562156,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.810644,68.456526,15943.82977,0.766118,14.236676,9.962169,0.757072,0.852921,180.488519,88.523680,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.837170,68.742404,20952.63665,0.757196,14.281498,10.329880,0.759207,0.801123,186.040542,82.525798,...,725.545553,66.287680,34.905385,9.115258,0.000000,0.000000,0.000000,0.000000,0.000000,24.753738
4,0.749034,72.093220,30068.14043,0.641228,12.510524,7.132999,0.673619,0.528564,155.296209,73.688089,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,1.010563,92.515213,61890.59381,1.219435,18.016207,13.395910,1.020538,0.871133,99.716757,119.441022,...,109.114822,230.027734,123.067945,8.072367,0.942637,0.928915,1.038498,26.147343,3.203769,18.505791
716,0.628426,58.772174,26523.82527,0.572390,9.186143,3.807712,0.525476,0.366503,226.243698,66.168323,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
717,0.603825,58.301528,10659.49479,0.629569,7.827124,4.244244,0.615265,0.402917,246.407021,73.400255,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
718,0.574464,53.416728,23157.55806,0.627428,9.626455,6.992821,0.464677,0.402599,214.937772,79.453556,...,193.300887,68.546100,50.280332,7.552197,0.435978,0.553943,0.904474,25.349771,6.737562,18.429657
719,0.614594,58.751698,24016.06785,0.623884,10.522855,5.472547,0.547071,0.501966,228.390716,76.616666,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [110]:
X_data_pred = validate_df_X.iloc[:, 0:].values

In [106]:
X_data_pred.shape ## 65 -> good

(720, 65)

In [107]:
y_validate_pred_xg = model_xg.predict(X_data_pred)

y_validate_pred_xg

array([0.04795478, 0.04452598, 0.0512584 , 0.04992946, 0.04616372,
       0.04494672, 0.0473817 , 0.04877894, 0.22436698, 0.15912497,
       0.18928453, 0.15909389, 0.15111926, 0.08411045, 0.12857327,
       0.18208973, 0.14684704, 0.17420553, 0.1826882 , 0.20950182,
       0.20691241, 0.1988474 , 0.22474852, 0.19387552, 0.03969824,
       0.04221825, 0.04130081, 0.04438022, 0.04693805, 0.04423041,
       0.04752999, 0.04684773, 0.04528207, 0.04586357, 0.04895421,
       0.04585203, 0.06067806, 0.08300333, 0.09435596, 0.06130384,
       0.2460518 , 0.16004552, 0.16085686, 0.18249725, 0.19631647,
       0.16331354, 0.19087303, 0.17805758, 0.05238015, 0.04690355,
       0.04177788, 0.04371826, 0.07761283, 0.05025168, 0.04858778,
       0.05179732, 0.05704134, 0.06494681, 0.06683014, 0.05720934,
       0.0603931 , 0.06089689, 0.06518035, 0.06188508, 0.08843842,
       0.0913407 , 0.10267624, 0.12653844, 0.04201494, 0.04424914,
       0.04753338, 0.04405142, 0.04379779, 0.04478114, 0.03933324,
       0.04302686, 0.10716532, 0.08619255, 0.20087217, 0.043665  ,
       0.05074017, 0.04735944, 0.05022785, 0.05131713, 0.04704482,
       0.04446939, 0.04521924, 0.05531534, 0.13723409, 0.12297293,
       0.19805172, 0.2067536 , 0.15783228, 0.11199046, 0.16867228,
       0.18550673, 0.0458861 , 0.04495658, 0.04383942, 0.04392348,
       0.05681761, 0.06148572, 0.06977918, 0.07105456, 0.04778887,
       0.04422794, 0.05958403, 0.04343762, 0.04261496, 0.04313866,
       0.04794414, 0.05254356, 0.04868042, 0.04846463, 0.04923441,
       0.06205186, 0.04701947, 0.04512895, 0.06664286, 0.05770289,
       0.11070989, 0.25015867, 0.17048983, 0.17286299, 0.06937993,
       0.06711068, 0.07063454, 0.07028475, 0.05449957, 0.05186426,
       0.05674097, 0.06472383, 0.08712745, 0.0671659 , 0.06111755,
       0.09795561, 0.12682925, 0.15533176, 0.15791263, 0.20180956,
       0.16323265, 0.19154175, 0.1985527 , 0.24754658, 0.04318015,
       0.0427165 , 0.04406103, 0.04456066, 0.04940476, 0.04675575,
       0.05192014, 0.05016083, 0.08637875, 0.06566341, 0.08206969,
       0.08788604, 0.05183915, 0.09010614, 0.08445328, 0.09961396,
       0.2057975 , 0.16636367, 0.21440347, 0.20733967, 0.04434642,
       0.04937412, 0.04282184, 0.05531794, 0.08834288, 0.06348921,
       0.08038422, 0.08039573, 0.3609357 , 0.26325622, 0.32685807,
       0.3596863 , 0.03849476, 0.04468261, 0.0444575 , 0.04064936,
       0.06075273, 0.07009868, 0.06247303, 0.05597024, 0.08298497,
       0.07013679, 0.08066252, 0.15851864, 0.04754137, 0.04315983,
       0.04237992, 0.04404674, 0.09569535, 0.10865535, 0.16766317,
       0.10680846, 0.18586928, 0.18188648, 0.2166066 , 0.1814004 ,
       0.04121212, 0.04056383, 0.04370643, 0.04157546, 0.04951589,
       0.04595929, 0.04604   , 0.05369797, 0.05031736, 0.05751514,
       0.05963594, 0.04914538, 0.04623492, 0.04078086, 0.04469572,
       0.04476031, 0.0402151 , 0.04233119, 0.04134267, 0.04130888,
       0.2886663 , 0.29707623, 0.30139554, 0.3156556 , 0.09035482,
       0.07564098, 0.09145471, 0.04096704, 0.1071266 , 0.09430257,
       0.25561   , 0.09280287, 0.04617686, 0.04483112, 0.05777086,
       0.05513225, 0.07651757, 0.05716714, 0.09493169, 0.06290312,
       0.08139034, 0.06476566, 0.0870055 , 0.08172337, 0.06562597,
       0.05298478, 0.06343661, 0.07050961, 0.05813652, 0.07953857,
       0.06514082, 0.07941824, 0.08487011, 0.08617334, 0.08533958,
       0.07291172, 0.11700538, 0.15683505, 0.12280124, 0.16983683,
       0.06298172, 0.05760998, 0.05541423, 0.06169491, 0.07963619,
       0.15617149, 0.09954102, 0.13364495, 0.05905963, 0.05957377,
       0.04484052, 0.06130816, 0.05692999, 0.07079294, 0.0606967 ,
       0.05686503, 0.22347099, 0.22619092, 0.1889352 , 0.22964583,
       0.11985458, 0.13702936, 0.08304099, 0.11163845, 0.16237658,
       0.1226522 , 0.11817566, 0.12622856, 0.05550595, 0.0596754 ,
       0.05241238, 0.06295241, 0.04212123, 0.03969419, 0.04223334,
       0.04325527, 0.04549106, 0.04390818, 0.04218603, 0.04662819,
       0.06269395, 0.07393026, 0.07010303, 0.15575083, 0.24945804,
       0.1918283 , 0.2823142 , 0.27709463, 0.04430331, 0.04651932,
       0.04354728, 0.04365331, 0.04494743, 0.04383533, 0.04767201,
       0.04496294, 0.11491402, 0.09742545, 0.13167389, 0.13402577,
       0.12145453, 0.06761563, 0.08057275, 0.07567629, 0.06659171,
       0.06051955, 0.05536157, 0.03702696, 0.14999726, 0.13400298,
       0.13428514, 0.23382348, 0.35227913, 0.21071398, 0.34036064,
       0.23895286, 0.04621738, 0.0424061 , 0.0454962 , 0.04295744,
       0.12973179, 0.11258084, 0.08260092, 0.11724962, 0.04182284,
       0.04799291, 0.04512705, 0.04387765, 0.04601467, 0.0797957 ,
       0.0860249 , 0.10247215, 0.07814325, 0.06748863, 0.13262653,
       0.08488125, 0.04783407, 0.04478918, 0.04362984, 0.04349604,
       0.05398714, 0.04925026, 0.04939673, 0.04818514, 0.12558317,
       0.07975335, 0.07075239, 0.07050972, 0.06728654, 0.05647368,
       0.07078096, 0.06284876, 0.0491644 , 0.04958291, 0.05116163,
       0.05092992, 0.04689001, 0.04174863, 0.04977533, 0.05599033,
       0.08342205, 0.07402278, 0.07319719, 0.12307277, 0.05297857,
       0.04705817, 0.0603323 , 0.07960235, 0.05115901, 0.0504807 ,
       0.05454919, 0.05877996, 0.04542051, 0.04341783, 0.04683546,
       0.055372  , 0.06678551, 0.06873377, 0.06199911, 0.06867204,
       0.21939132, 0.2867735 , 0.3421856 , 0.2796947 , 0.25049376,
       0.23259653, 0.30452806, 0.21669003, 0.19764999, 0.21155038,
       0.21949334, 0.27724385, 0.04263671, 0.0420738 , 0.04231442,
       0.05203005, 0.06375094, 0.07431181, 0.05813446, 0.12318802,
       0.05175015, 0.04206931, 0.05772916, 0.05506157, 0.1525615 ,
       0.0729012 , 0.21565385, 0.1925181 , 0.23396324, 0.2315272 ,
       0.2378478 , 0.24573351, 0.20110682, 0.15402506, 0.19413331,
       0.25199875, 0.04826381, 0.05363126, 0.04637432, 0.04974832,
       0.04353233, 0.05086699, 0.0483717 , 0.04896706, 0.05967769,
       0.06769724, 0.07033896, 0.17587258, 0.04070751, 0.04072048,
       0.04839199, 0.04480791, 0.0741476 , 0.05771914, 0.0625659 ,
       0.08092333, 0.08509509, 0.05800271, 0.07824312, 0.07859759,
       0.16747844, 0.16549513, 0.21492706, 0.16814569, 0.04376153,
       0.04460911, 0.04833644, 0.05249144, 0.03775895, 0.03846503,
       0.04112703, 0.0465737 , 0.05821094, 0.05122682, 0.05836221,
       0.06344148, 0.24985528, 0.18942901, 0.21789032, 0.25675008,
       0.08182133, 0.07756033, 0.07821175, 0.13575186, 0.06450672,
       0.08369804, 0.12859373, 0.14404815, 0.11942504, 0.06343137,
       0.06345921, 0.05682594, 0.19629583, 0.17186695, 0.21640544,
       0.20176773, 0.05211987, 0.0480206 , 0.04913977, 0.04455973,
       0.19525936, 0.18499532, 0.23022881, 0.25401044, 0.11367528,
       0.04704157, 0.09971567, 0.16529931, 0.08628774, 0.06496778,
       0.05421571, 0.08782595, 0.18460166, 0.23299238, 0.1972494 ,
       0.19450551, 0.04785652, 0.06133762, 0.0531825 , 0.06039198,
       0.05444986, 0.04046229, 0.02437429, 0.04956876, 0.14634632,
       0.17129542, 0.25099075, 0.19709341, 0.06572306, 0.05171921,
       0.09436246, 0.07695956, 0.21090162, 0.2909047 , 0.33054364,
       0.26933017, 0.05716924, 0.06026189, 0.1785581 , 0.0610931 ,
       0.05060343, 0.0423361 , 0.0485624 , 0.04526509, 0.05958547,
       0.07894007, 0.06844001, 0.05985601, 0.06424433, 0.06506772,
       0.07237601, 0.07193976, 0.10017847, 0.06643953, 0.0987137 ,
       0.07907657, 0.04239222, 0.042025  , 0.04392124, 0.0437263 ,
       0.06498927, 0.07005949, 0.09100756, 0.0882489 , 0.04644929,
       0.03915136, 0.04373704, 0.04875305, 0.06931682, 0.06314822,
       0.0651352 , 0.06905425, 0.07616169, 0.1196195 , 0.10256216,
       0.07566569, 0.09998388, 0.10773022, 0.08889943, 0.12395937,
       0.22466777, 0.19588654, 0.24635194, 0.23891902, 0.04468124,
       0.03986701, 0.04899613, 0.05283622, 0.10292164, 0.11409995,
       0.11364158, 0.09205386, 0.14003055, 0.1028443 , 0.07983943,
       0.10240272, 0.04402477, 0.04353322, 0.04668527, 0.05768581,
       0.04296759, 0.04724504, 0.04864562, 0.04578091, 0.05739445,
       0.05943326, 0.09814861, 0.14716694, 0.05535579, 0.05046497,
       0.04190655, 0.04023321, 0.25859204, 0.18197423, 0.20633936,
       0.24961118, 0.20037465, 0.24807158, 0.26966375, 0.18526112,
       0.07405427, 0.06779767, 0.07098293, 0.07760128, 0.06097898,
       0.12771666, 0.05961349, 0.05491747, 0.04491598, 0.04305488,
       0.04207588, 0.04564337, 0.04005239, 0.04229374, 0.04000226,
       0.04564777, 0.07720777, 0.07645451, 0.06318935, 0.07776842,
       0.10992628, 0.0784604 , 0.09077069, 0.11695165, 0.10423816,
       0.177183  , 0.29676896, 0.19896   , 0.05018989, 0.04487436,
       0.04447601, 0.04361828, 0.04377159, 0.04563973, 0.04932018,
       0.04514166, 0.0851304 , 0.06440324, 0.12968847, 0.09618011,
       0.05026142, 0.04549373, 0.05292898, 0.04850303, 0.06025936,
       0.05410301, 0.07737499, 0.08317874, 0.04597972, 0.04103499,
       0.05406258, 0.04998328, 0.04715617, 0.0618835 , 0.06179266,
       0.08757933, 0.06716314, 0.06576005, 0.06590788, 0.0638274 ,
       0.04740964, 0.05985294, 0.06272563, 0.05130509, 0.05944198,
       0.07321093, 0.06871988, 0.07166058, 0.04445465, 0.05563726,
       0.06838383, 0.05021926, 0.05605711, 0.04431166, 0.0550581 ,
       0.06514133, 0.0680937 , 0.05170865, 0.10252428, 0.10496098,
       0.29004085, 0.21985872, 0.25082788, 0.1926471 , 0.12621704,
       0.07089791, 0.08277565, 0.08880178, 0.04130505, 0.04359379,
       0.04298892, 0.04501068, 0.16331436, 0.07177819, 0.16154999,
       0.16565245, 0.04309174, 0.04272218, 0.04186558, 0.04023274],
      dtype=float32)

In [108]:
y_valid = pd.DataFrame(y_validate_pred_xg)
y_valid

            0
0    0.047955
1    0.044526
2    0.051258
3    0.049929
4    0.046164
..        ...
715  0.165652
716  0.043092
717  0.042722
718  0.041866
719  0.040233

[720 rows x 1 columns]

In [123]:
validate_df_n=validate_df.drop(["Predicted Well-Being Index"], axis=1)
validate_df_n["Predicted Well-Being Index"]=y_valid
validate_df_n

,ID,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),Predicted Well-Being Index
0,886447,1004004,Andromeda Galaxy (M31),0.803915,82.718434,17299.57148,0.691448,16.083635,11.282011,0.715746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.047955
1,687564,1005006,Andromeda Galaxy (M31),0.860011,73.682279,24971.71631,0.669550,12.858577,10.493260,0.727915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.044526
2,494935,1006009,Andromeda Galaxy (M31),0.810644,68.456526,15943.82977,0.766118,14.236676,9.962169,0.757072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.051258
3,378919,1015056,Andromeda Galaxy (M31),0.837170,68.742404,20952.63665,0.757196,14.281498,10.329880,0.759207,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.753738,NaN,0.049929
4,421878,1004004,Andromeda I,0.749034,72.093220,30068.14043,0.641228,12.510524,7.132999,0.673619,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.046164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,389587,1015056,Willman 1,1.010563,92.515213,61890.59381,1.219435,18.016207,13.395910,1.020538,...,0.942637,0.928915,1.038498,111.875906,92.223765,26.147343,3.203769,18.505791,0.406823,0.165652
716,17112,1003002,"Wolf-Lundmark-Melotte (WLM, DDO 221)",0.628426,58.772174,26523.82527,0.572390,9.186143,3.807712,0.525476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.043092
717,583782,1004004,"Wolf-Lundmark-Melotte (WLM, DDO 221)",0.603825,58.301528,10659.49479,0.629569,7.827124,4.244244,0.615265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.042722
718,823832,1005006,"Wolf-Lundmark-Melotte (WLM, DDO 221)",0.574464,53.416728,23157.55806,0.627428,9.626455,6.992821,0.464677,...,0.435978,0.553943,0.904474,188.266739,197.539740,25.349771,6.737562,18.429657,0.859253,0.041866
719,872042,1006009,"Wolf-Lundmark-Melotte (WLM, DDO 221)",0.614594,58.751698,24016.06785,0.623884,10.522855,5.472547,0.547071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.040233

In [126]:
validate_df_print= validate_df_n.loc[:,["ID" ,"Predicted Well-Being Index"]]
validate_df_print

         ID  Predicted Well-Being Index
0    886447                    0.047955
1    687564                    0.044526
2    494935                    0.051258
3    378919                    0.049929
4    421878                    0.046164
..      ...                         ...
715  389587                    0.165652
716   17112                    0.043092
717  583782                    0.042722
718  823832                    0.041866
719  872042                    0.040233

[720 rows x 2 columns]

In [134]:
validate_df_print.to_csv('Evans_Kibet.csv')#solution

In [1]:
20/2.0

10.0

In [10]:
s="S"
s[0]+s[1:]

'S'

In [13]:
new=""
for i in "Hello":
    if i !="l":
        new +=i
print (new)

Heo

13.37.islower

In [14]:
s=13.37
s.islower

AttributeError: 'float' object has no attribute 'islower'

In [21]:
def myfunc():
    x=5
myfunc(x)
print(x)

NameError: name 'x' is not defined